<!DOCTYPE html>
<html>

<head>

</head>

<body>


    <div class="container">

    </div>


</body>

</html><!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <p>This is the placeholder for Team Activity 04</p>
      </div>
    </div>
    <div class="container">
      <div style="background:<%=style %>">
        <form action="/ta04/change-style" method="POST">
          <label>Change Style:</label><br>
          <input type="color" name="color">
          <input type="submit">
        </form>
      </div>
      <hr>
      <div>
        <form action="/ta04/counter" method="POST">
           <input type="hidden" name="constant" value="1">
           <button class="btn btn-default" type="submit">+</button>
         </form>
         <%= counter %>
           <form action="/ta04/counter" method="POST">
             <input type="hidden" name="constant" value="-1">
             <button class="btn btn-default" type="submit">-</button>
           </form>
        </form>
      </div>
      <hr>
      <div>
        <form action="/ta04/reset" method="POST">
          <input type="hidden" name="reset" value="true">
          <button class="btn btn-default" type="submit">Reset Session</button>
        </form>
      </div>

    </div>


</body>

</html>